body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #202046;
}

.container {
  height: 100vh;
  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-size: 19rem;
  }
}

.row {
  height: inherit;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
  }
}

.text-section {
  position: relative;
  left: 143px;
  z-index: 10;
  width: 632px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top 19% left 19%;
}

@media screen and (max-width: 768px) {
  .text-section {
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 1.25rem;
    background-size: 4rem;
    background-position: top 0.5% left 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.text-section .comment {
  font-weight: 300;
  width: inherit;
  margin-top: 95px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .text-section .comment {
    margin-top: 23px;
    padding: 0 5px;
  }
}

.text-section .person {
  font-size: 1.3rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .text-section .person {
    font-size: 1rem;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.text-section .person .name {
  margin-right: 0.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .text-section .person .name {
    margin-right: 0;
  }
}

.text-section .person .job-title {
  color: #babacf;
  font-weight: 500;
}

.image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .image-section {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}

.image-section .images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .image-section .images {
    width: 100%;
    height: 100%;
  }
}

.image-section .images .picture {
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0px 19px 48px -28px;
          box-shadow: 0px 19px 48px -28px;
}

@media screen and (max-width: 768px) {
  .image-section .images .picture {
    width: 75%;
    height: 65%;
  }
}

.image-section .images .bg-dot-image {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .image-section .images .bg-dot-image {
    width: 96%;
    height: 80%;
    padding-bottom: 5px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  position: absolute;
  top: 76.8%;
  right: 36.5%;
}

@media screen and (max-width: 768px) {
  .slider {
    top: 38.8%;
    right: 30%;
  }
}

.slider .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 100vh;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 768px) {
  .slider .arrows {
    width: 2.7rem;
  }
}

.slider .arrow {
  padding-bottom: 5px;
}

.slider .arrows:hover {
  background-color: #202046;
}

.slider .prev {
  border-radius: 100vh 0 0 100vh;
}

.slider .next {
  border-radius: 0 100vh 100vh 0;
}
/*# sourceMappingURL=main.css.map */